/* Base */
html, body {
    background-color: #222;
    min-height: 100%;
    line-height: 1.5;
}

body {
    color: #fafafa;
    font-family: "Courier New";
}

::selection {
    background-color: #2ecc40;
    color: white;
}

/* Responsive content positioning */
@media only screen and (min-width: 1020px) /* Large screens */ {
    body {
        padding: 10vh 25vw;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 750px) /* Small screens */ {
    body {
        padding: 5vh 10vw;
    }
}

@media only screen and (max-width: 750px) /* Small screens */ {
    body {
        padding: 2vh 5vw;
    }
}

/* Headers */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h1 > .subtitle, h3, h4, h5, h6 {
    font-size: 1.3rem;
}

.title {
    margin-bottom: 2.5rem;
}

/* Padding & Margin */
* {
    margin: 0;
    padding: 0;
}

pre, blockquote, ul, ol, p, table {
    margin: 1rem 0;
}

h1, h2 {
    margin-top: 2rem;
    line-height: 2rem;
}

h3, h4, h5, h6 {
    margin-top: 1rem;
}

/* Links */
a, a:visited {
    color: #01ff70;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color: #2ecc40;
}

/* Code */
pre, code {
    font-family: "Courier New";
    padding: .5rem;
    background-color: #333;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    color: #EEE;
    overflow-x: auto;
}

/* Syntax highlighting - adapted from org-mode classes */
.keyword {
    color: #01ff70;
}

.delimiter-depth-1 {
    color: #2ecc40;
}

.delimiter-depth-2 {
    color: #01ff70;
}

/* Blockquotes */
blockquote {
    border-left: 3px solid #01ff70;
    padding-left: 1rem;
}

/* Lists */
li {
    list-style-position: inside;
}

/* Tags */
.tag {
    margin-top: 0.5rem;
    display: block;
    color: white;
    font-size: 0.8rem;
}

.tag > span {
    font-weight: 400;
    font-size: 0.8rem;
    background-color: #444;
    text-transform: uppercase;
    border-radius: 2px;
    width: fit-content;
    height: auto;
    padding: 1px 5px;
}

/* Task states */
.task-todo {
    color: #2ecc40;
}

.task-done {
    color: #444;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #333;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Utility classes */
.underline {
    text-decoration: underline;
}

/* Overflow handling */
.content {
    max-width: 100%;
    overflow-x: auto;
}
