{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h5 class="author">{{ . }}</h5>{{ end }}
{{ if (gt .Params.date 0) }}<h6 class="date">{{ .Date.Format "2006/01/02" }}</h6>{{ end }}
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
